<nav>
<a routerLink="/miscuentas"><i class="small material-icons">work</i></a>
<a routerLink="/operaciones"><i class="small material-icons">import_export</i></a>
<a routerLink="/ubicanos"><i class="small material-icons">place</i></a>
<a routerLink="/mas"><i class="small material-icons">more_horiz</i></a>
</nav>