<app-header [item]=mititulo></app-header>
<h6 class="titulo2">tipo de cambio ref. Compra 3.270 Venta 3.440</h6>
<section *ngFor="let x of arreglo.mensaje">
<div>
	<i class="small material-icons">attach_money</i>
</div>
<div>
	<h5>{{tipos[x.tipo - 1]}}</h5>
	<h4>S/ {{x.saldo}}</h4>
	<h6>Saldo diponible</h6>
</div>
<div>
	<i class="small material-icons">navigate_next</i>
</div>
</section>
<section>
<div>
	<i class="small material-icons">attach_money</i>
</div>
<div>
	<h4 class="colorprincipal">¡Abre tu cuenta aquí!</h4>
	<h6>Saldo diponible</h6>
</div>
<div>
	<i class="small material-icons">add</i>
</div>
</section>

