<!-- 
<h1>
  <mat-icon>home</mat-icon>{{title}}
</h1>
<form (ngSubmit)="submit1()" novalidate>
<!--
<mat-form-field>
  <input matInput type="text" placeholder="Simple Input" name="txtNum" [(ngModel)]="txtNum">
</mat-form-field>
-->
<!--
<mat-form-field>
  <input matInput type="text" placeholder="id users" name="userId" [(ngModel)]="usus.userId">
</mat-form-field>

<mat-form-field>
  <input matInput type="text" placeholder="id" name="id" [(ngModel)]="usus.id">
</mat-form-field>

<mat-form-field>
  <input matInput type="text" placeholder="titulo" name="title" [(ngModel)]="usus.title">
</mat-form-field>

<mat-form-field>
  <input matInput type="text" placeholder="descripcion" name="body" [(ngModel)]="usus.body">
</mat-form-field>
<!--
<mat-form-field>
  <mat-select placeholder="I'm a select" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of items" [value]="item.value">
      {{item.view}}
    </mat-option>
  </mat-select>
</mat-form-field>
-->
<!--
<button mat-raised-button type="submit">I'm a button</button>
</form>
<ul>
  <li *ngFor="let x of arreglo">
    <app-frausuario [usu]="x"></app-frausuario>
</ul>

-->

<router-outlet></router-outlet>
<app-nav></app-nav>