$color1: #2ee81e
$espacio: 0.6em
$atenuar: rgba(0,0,0,0.3)

.colorprincipal
	color: $color1
	
.titulo2
	padding: $espacio;
	text-align: center
section
	border-top: 1px solid $color1
	border-bottom: 1px solid $color1
	width: 100%
	height: 84px
i
	color: $color1
section
	display: flex
	align-items: center
	div:last-child
		margin-left: auto;
	div
		h6
			color: $atenuar